.navstyle {
    position: fixed;
    background-image: none;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    height: 70px;
    width: 100%;
    background-color: #7330f9;
    min-height: 60px;
}


.light-theme {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-thumb {
    background: #878a9e
}

::-webkit-scrollbar-thumb:hover {
    background: #2ab0e9
}

.svgicon {
    width: 24px;
    height: 24px
}

@media (min-width: 768px) {
    .maincontent {
        margin-left: 195px
    }
}

.svgicon {
    width: 24px;
    height: 24px;
}

.copyButton {
    position: absolute;
    top: 0px;
    right: 0px;
}

.nf {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card {
    height: 100%;
    /* background-image: url('./assets/img/leaf7.png'); */
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.selected {
    background-color: lightblue;
}

#reorderTable tr {
    cursor: pointer;
}

.card {
    page-break-inside: avoid;
    break-inside: avoid;
}

#addressArea {
    min-height: 60vh;
    height: fit-content;
}